autoreject==0.4.3
compress_pickle==2.1.0
h5py==3.15.1
imageio==2.37.2
joblib==1.5.3
mat73==0.65
matplotlib==3.10.8
mne==1.11.0
natsort==8.4.0
networkx==3.6.1
numpy==2.4.0
numpyencoder==0.3.2
pandas==2.3.3
pyedflib==0.1.42
python_picard==0.8.1
pyzenodo3==1.0.2
Requests==2.32.5
scikit_learn==1.8.0
scipy==1.16.3
seaborn==0.13.2
specparam==2.0.0rc6
statsmodels==0.14.6
tdlm_python==0.4.1
tqdm==4.67.1
