compress_pickle==2.1.0
mat73==0.63
matplotlib==3.8.4
mne==1.9.0
natsort==8.4.0
numpy==1.24.4
numpyencoder==0.3.0
pandas==2.0.3
pyedflib==0.1.40
python_picard==0.7
scikit_learn==1.4.2
scipy==1.10.1
seaborn==0.13.2
statsmodels==0.14.0
tdlm_python
tqdm